body {
  padding: 0px;
  margin: 0px;
}

.titulo-container {
  display: flex;
  background-color: #eaf4e8;
}
.titulo-principal {
  display: flex;
  width: 100%;
  color: #97c4ad;
  font-size: 140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: static;
}

.logo-principal {
  margin-top: 100px;
  width: 390px;
  height: 151px;
  margin-right: 5%;
}

.logo {
  display: flex;
  width: 25%;
}

.eslogan {
  display: flex;
  color: #97c4ad;
  font-size: 50px;
  height: 23px;
  position: absolute;
  padding-top: 250px;
}
p.texto {
  color: #97c4ad;
  font-style: italic;
}
.informacion {
  display: flex;
  color: #e6fcd9;
  font-size: x-large;
  font-weight: 200;
  background-color: #8e978d; /*esto es el color del fondo de la caja de informacion cambiar a la brevedad*/
}

.informacion-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.titulo-direccion {
  font-size: 25px;
  color: #97c4ad;
  font-weight: 200px;
  font-style: oblique;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.direccion {
  font-size: 20px;
  font-weight: 110px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.redes {
  font-size: 25px;
  color: #97c4ad;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
}
.Nit {
  font-size: 20px;
  font-weight: 110px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caja {
  flex-wrap: wrap;
  display: flex;
  position: relative;
  flex-direction: row;
}

.derecha {
  justify-content: right;
}

.izquierda {
  justify-content: left;
}

.titulo {
  color: #97c4ad;
  font-style: oblique;
  font-weight: 200px;
  margin-bottom: 2px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-large;
  margin: 7px;
}

.texto {
  display: flex;
  background-color: #cdf2d6;
  padding: 10px;
  border: 2px solid #e6fcd9;
  flex-direction: column;
  align-content: stretch;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  font-size: x-large;
  font-weight: 400;
}

/*
paleta de colores 
.color1 { #8e978d };
.color2 { #97c4ad };
.color3 { #bfedbe };
.color4 { #e6fcd9 };
.color5 { #cdf2d6 };
*/
